<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">

    <script src="//unpkg.com/layui@2.6.8/dist/layui.js" charset="utf-8"></script>

</head>
<style>
    .main-div {
        width: 100%;
        position: absolute;
        top: 60px;
        height: calc(100% - 60px);
    }
    .main-iframe {
        width: 100%;
        border: 0;
        height: calc(100% - 5px);
    }
</style>
<body>

<ul class="layui-nav">
    <li class="layui-nav-item layui-this"><a href="javascript:switchMain(0);">系统设置</a></li>

    <li th:if="${vo.domain != null && !#strings.isEmpty(vo.dashboardId)}" class="layui-nav-item"><a href="javascript:switchMain(1);">仪表板预览</a></li>
    <li th:if="${vo.domain != null && !#strings.isEmpty(vo.screenId)}" class="layui-nav-item"><a href="javascript:switchMain(2);">大屏预览</a></li>
    <li th:if="${vo.domain != null && !#strings.isEmpty(vo.dashboardId)}" class="layui-nav-item"><a href="javascript:switchMain(3);">仪表板编辑</a></li>
    <li th:if="${vo.domain != null && !#strings.isEmpty(vo.screenId)}" class="layui-nav-item"><a href="javascript:switchMain(4);">大屏编辑</a></li>
    <li th:if="${vo.domain != null && !#strings.isEmpty(vo.viewResourceId) && !#strings.isEmpty(vo.viewId)}" class="layui-nav-item"><a href="javascript:switchMain(5);">视图预览</a></li>

    <!--<li th:if="${vo.domain != null}" class="layui-nav-item"><a href="javascript:switchMain(6);">动态资源</a></li>-->
</ul>

<div class="main-div">
    <iframe id="main-iframe" class="main-iframe"></iframe>
</div>
<script>
    layui.use('element', function(){
        var element = layui.element;

        //监听导航点击
        element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
        });
    })
    var currentIndex = -1
    var linkArray = ['Setting', 'DashboardView', 'VisualizationView', 'DashboardEditor', 'VisualizationEditor', 'view']
    var switchMain = index => {
        if (currentIndex === index) return
        var url = linkArray[index] + '?=' + (new Date()).getTime()
        document.getElementById("main-iframe").src = url
        currentIndex = index
    }
    window.onload = () => {
        switchMain(0)
    }

</script>

</body>
</html>